@{
    ViewData["Title"] = "Dados Cliente";
}
<link rel="stylesheet" href="~/css/estiloDados.css" asp-append-version="true">

<div class="titulo">
    <h2>Olá Marina!</h2>
    <p>Seu Intercâmbio, do Céu ao Infinito.</p>
</div>

<div class="container">
    <div class="form-container">
        <!-- Imagem que vai aparecer no perfil -->
        <img class="user" src="/img/usuario.png" alt="Imagem de user" />
        <div class="form-details">
            <div class="button">
                <input type="submit" value="Voltar" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div class="text-container">
        <div class="form-texto">
            <div class="info-item">
                <h1>Nome:</h1>
                <p>Marina Silva</p>
            </div>
            <div class="info-item">
                <h1>Telefone:</h1>
                <p>(11) 96953-3419</p>
            </div>
            <div class="info-item">
                <h1>Data de nascimento:</h1>
                <p>08/09/2006</p>
            </div>
            <div class="info-item">
                <h1>E-mail:</h1>
                <p>marinasilva@gmail.com</p>
            </div>
            <div class="info-item">
                <h1>CPF:</h1>
                <p>444.565.000-10</p>
            </div>
        </div>
    </div>
</div>